/*
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
#______       _                         _    _                _   _  _         _      _   #
#| ___ \     (_)                       | |  (_)              | \ | |(_)       | |    | |  #
#| |_/ /_ __  _  ___  _ __ ___    __ _ | |_  _   ___  ______ |  \| | _   __ _ | |__  | |_ #
#|  __/| '__|| |/ __|| '_ ` _ \  / _` || __|| | / __||______|| . ` || | / _` || '_ \ | __|#
#| |   | |   | |\__ \| | | | | || (_| || |_ | || (__         | |\  || || (_| || | | || |_ #
#\_|   |_|   |_||___/|_| |_| |_| \__,_| \__||_| \___|        \_| \_/|_| \__, ||_| |_| \__|#
#                                                                        __/ |            #
#                                                                       |___/             #
#                  Made by: Debasis Buxy https://github.com/AnubisZ9                      #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
*/
body{
	background: #263238;
	color: #BBC4C8;
}
.container{
	display: grid;
	grid-gap: 20px;
	margin-top: 10%;
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
	grid-template-columns: repeat(4,1fr);
	justify-items: center;
}
.logo{
	grid-column: 1/-1;
	padding-bottom: 25px;
}
.search_box{
	grid-column: 1/-1;
	padding-bottom: 25px;
	margin-left: -50px;
}
.input_box{
	border: none;
	outline: none;
	background: none;
	padding: 15px;
	width: 417px;
	color: whitesmoke;
	font-size: 20px;
	transition: 0.4px all;
	border-radius: 3px 0px 0px 3px;
}
.button{
	background:  none;
	border-radius: 0px 3px 3px 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 8px;
	position: absolute;
	border: none;
}
.search_box
{
	background: #222D32;
	width: 500px;
	padding: 0px;
	margin-bottom: 30px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 3px 6px #171D20;
}
.button:hover{
	background: #373C42;
}
li{
	list-style-type: none;
	padding:5px
}
a:link{
	text-decoration: none;
	color: #8F9191;
}
a:visited{
	color: #8F9191;
}
a:hover{
	color: #94D4DE;
}
.category{
	background: #222D32;
	padding: 20px;
	border: #191C1E;
	border-radius: 3px;
	width:   -moz-available;
	box-shadow: 0px 3px 6px #171D20;
}
