body{
	background: #263238;
	color: #BBC4C8;
}
.container{
	display: grid;
	grid-gap: 20px;
	margin-top: 10%;
	margin-bottom: 2%;
	margin-left: 10%;
	margin-right: 10%;
	grid-template-columns: repeat(5,1fr);
	justify-items: center;
}
.logo{
	grid-column: 1/-1;
	padding-bottom: 15px;
}
.input_box{
	border: none;
	outline: none;
	background: none;
	padding: 15px;
	width: 417px;
	color: whitesmoke;
	font-size: 20px;
	transition: 0.4px all;
	border-radius: 3px 0px 0px 3px;
}
.button{
	background:  none;
	border-radius: 0px 3px 3px 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	position: absolute;
	border: none;
	transition-duration: 0.4s;
}
.search_box
{
	grid-column: 1/-1;
	padding-bottom: 25px;
	background: #222D32;
	width: 500px;
	padding: 0px;
	margin-bottom: 60px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 4px 5px #171D20;
}
.button:hover{
	filter: saturate(150%) brightness(120%)!important;
}
li{
	list-style-type: none;
	padding:5px
}
a:link{
	text-decoration: none;
	color: #8F9191;
}
a:visited{
	color: #8F9191;
}
a:hover{
	color: #94D4DE;
}
.category{
	background: #222D32;
	padding: 20px;
	border: #191C1E;
	border-radius: 3px;
	width:   -moz-available;
	box-shadow: 0px 4px 5px #171D20;
}
