/* uncomment the code below to enable steppers in gtk3 apps */
/* (see ~/.gtkrc-2.0.mine for gtk2) */

/*
.scrollbar, .scrollbar.vertical {
-GtkRange-stepper-size: 13;
-GtkScrollbar-has-backward-stepper: 1;
-GtkScrollbar-has-forward-stepper: 1;
}
*/

/* end of stepper code */
VteTerminal, vte-terminal {
    padding: 5px;
 }
