 @-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
  body{background-color:#263238!important;--newtab-search-icon: transparent !important;}
  a,a:visited,a:hover{color:#292D31!important}
	#newtab-search-text {
	background-color: #292D31 !important;
	font-size: 18px !important;
	color: #9BA8BB !important;
	box-shadow: none !important;
	text-align: center !important;
	border:none !important;
	font-weight: bold !important;
		}

.search-wrapper input {
    --newtab-textbox-focus-boxshadow: none !important;
    padding-left: 20px !important;
   	padding-inline-end: 13px !important;
  }
  

.search-wrapper .logo-and-wordmark .wordmark {
  display: none!important;
}

.search-wrapper .logo-and-wordmark {
  margin-bottom: 40px!important;
  padding-top: 60px!important;
  filter: saturate(30%) opacity(50%)!important;
}



.search-button{background:none !important;}

.prefs-button button {fill: #9BA8BB !important;}
  
.prefs-button button:hover, .prefs-button button:focus {
    background-color:  transparent !important; }	
 
 .contentSearchSuggestionTable {display: none !important;}
 

}
:root {
	
    --in-content-border-active: #9BA8BB !important;
    --in-content-border-active-shadow: none !important;
    --in-content-page-background: #263238 !important;
    --in-content-page-color: #9BA8BB !important;
    scrollbar-color: #677379 #263238 !important;
    scrollbar-width: thin;
}


/*DARK MODE*/ /*The colors below represent a dark theme.*/


:root {  
/*COLORS BASED ON https://protocol.mozilla.org/fundamentals/color.html */
  --light-gray-10: #f9f9fb;  
  --light-gray-10-a4: #f9f9fb0a;  
  --light-gray-10-a12: #f9f9fb1f;  
  --light-gray-10-a16: #f9f9fb29;  
  --light-gray-20: #f0f0f4;  
  --light-gray-30: #e0e0e6;  
  --light-gray-30-a50: #e0e0e680;  
  --light-gray-40: #cfcfd8;  
  --light-gray-50: #bfbfc9;  
  --light-gray-60: #afafba;  
  --light-gray-70: #9f9fad;  
  --light-gray-90: #80808f;  
  --dark-gray-30: #42414d;  
  --dark-gray-50: #32313c;  
  --dark-gray-80: #1c1b22;  
  --dark-gray-90: #222d32;  
  --red-60: #e22850;  
  --violet-40: #ab71ff;  
  --violet-70: #592acb;  
  --violet-80: #45278d;  


--font-size: 12px;  
--default-ink: var(--light-gray-10) !important; /*default font color for most of the text in uBo*/  
--default-ink-a4: var(--light-gray-10-a4) !important;  
--default-ink-a50: var(--light-gray-30-a50) !important; /*icon fill color for saveRules, revertRules and refresh*/  
--default-surface: #222D32 !important; /*deals with most white full screen backgrounds like Logger Ui, settings, about*/ /*used for checkmark color stoke*/  
--default-surface-hover: var(--dark-gray-50) !important; /*highlight color for popup app and dashboard tabs*/  
--bg-1: hsla(250, 13%, 9%, 1) !important; /* color of the ribbon across screen where the search bar is in My   Filters*/  
--bg-1-border: hsla(250, 13%, 16%, 1) !important;  
--bg-overlay-50: #0008 !important;  
--bg-code: hsla(0, 2%, 0%, 0.8) !important;  
--fg-0-80: hsla(0, 0%, 53%, 0.8) !important;  
--fg-0-70: hsla(0, 0%, 53%, 0.7) !important; /*uBo popup logger version lines for domains and requests*/  
--fg-0-60: hsla(0, 0%, 53%, 0.6) !important; /*used for the number of filters in use in Filter Lists section | My Rules filter   icon */  
--fg-0-50: hsla(0, 0%, 53%, 0.5) !important; /*uBo popup logger version refresh button*/  
--fg-0-40: hsla(0, 0%, 53%, 0.4) !important; /*Extra Tools bar in uBo popup logger version*/  
--fg-0-30: hsla(0, 0%, 53%, 0.3) !important;  
--fg-0-20: hsla(0, 0%, 53%, 0.2) !important;  
--link-ink: #bb86fc !important; /*web link color*/  
--fieldset-header-surface: transparent;  
--fieldset-header-ink: var(--light-gray-30); /*used in settings for Privacy Default behavior, used in My Rules for   Perma and Temp Rules Headers*/  
--hor-separator-color: var(--dark-gray-50);  /*MIGHT BE JUST LEFT WHITE*/
--button-surface: var(--light-gray-10-a12); /*affects Firewall container rows on uBo main panel*/  
--button-ink: var(--default-ink); /*color of text and icon inside button*/ /*applied to My Filters tab*/  
--button-surface-hover: var(--light-gray-10-a12);  
--button-active-surface: var(--light-gray-70);  
--button-important-surface: var(--dark-gray-30);  
--button-important-surface-hover: var(--light-gray-60);  
--button-disabled-filter: opacity(38%);  
--button-disabled-surface: var(--dark-gray-50);  
--button-disabled-ink: var(--light-gray-30-a50);  
--button-preferred-surface: var(--dark-gray-50);  
--button-preferred-ink: var(--light-gray-70);  
--checkbox-size: calc(var(--font-size) + 2px);  
--checkbox-ink: var(--default-ink); /*non-checked box border color*/  
--checkbox-checked-ink: #bb86fc !important; /*used for the checkmark - uses background-color and border-color*/  
/*--select-surface:*/
--bg-transient-notice: var(--dark-gray-50); /*color for the buttons for saveRules, revertRules and refresh - popup     container*/  
--dashboard-bar-shadow: 0px 0px 0px 1px var(--default-ink-a4) /*line across screen under tabs*/  
--dashboard-tab-ink: var(--default-ink);  
--dashboard-tab-active-ink: #bb86fc !important;  
--dashboard-tab-surface-hover: var(--default-surface-hover);  
/* small i icons found throughout the dashboard and logger*/  
--fg-icon-info-lvl-0-dimmed: #888 !important; /*found in My Rules/Setting tabs*/  
--fg-icon-info-lvl-0: inherit;  
--fg-icon-info-lvl-1-dimmed: hsla(240, 100%, 40%, 0.5); /*found in  Filter Lists tab - default view*/  
--fg-icon-info-lvl-1: hsla(240, 100%, 40%, 1); /* found in Filter Lists tab - hovered over*/  
--info-lvl-2-ink: var(--yellow-50);  
--info-lvl-2-ink-hover: var(--yellow-60);  
--fg-icon-info-lvl-3-dimmed: hsla(16, 100%, 50%, 0.5);/*found in Advanced Settings - default view*/  
--fg-icon-info-lvl-3: hsla(16, 100%, 50%, 1); /*found in Advanced Settings - hovered over*/  
--fg-icon-info-lvl-4-dimmed: hsla(0, 100%, 35%, 0.5);  
--fg-icon-info-lvl-4: hsla(0, 100%, 35%, 1);  
--large-icon-info-lvl-2: hsla(41, 100%, 47%, 1);  
--bg-tooltip: var(--dark-gray-50);  
--fg-tooltip: var(--light-gray-30);  
--bg-popup-cell-1: var(--dark-gray-50); /*uBo popup window accesible from logger*/  
--popup-power-ink: var(--violet-70); /*uBo power icon - on color */  
--popup-power-disabled-ink: var(--light-gray-60); /*uBo power icon - off color */  
--popup-power-ink-hover: var(--dark-gray-30);  
--bg-popup-cell-2: var(--dark-gray-50); /*firewall container row line horizontal and vertical colours*/  
--bg-popup-cell-label-filter: opacity(40%);  
--fg-popup-cell-cname: #EBCB8B !important;  
--bg-popup-cell-allow: hsla(120, 40%, 75%, 1);  
--bg-popup-cell-allow-own: hsla(120, 100%, 30%, 1);  
--bg-popup-cell-noop: hsla(0, 0%, 75%, 1);  
--bg-popup-cell-noop-own: hsla(0, 0%, 45%, 1);  
--bg-popup-cell-block: hsla(0, 50%, 80%, 1);  
--bg-popup-cell-block-own: hsla(0, 100%, 40%, 1);  
--bg-popup-cell-label-mixed: hsla(45, 100%, 38%, 1);  
--popup-icon-x-ink: #e22850 !important;    
}    

.CodeMirror-activeline-background /*line 151*/ {background: #777 !important }  /*****THIS IS A PLACEHOLDER COLOR  CHOOSE SOMETHING NICER****/  
.cm-staticext { color:  var(--link-ink) !important;  /*web link color*/}        /*my filters link colors*/;  
.cm-staticOpt { background-color: red !important} /*##'s*/  
.cm-s-default .cm-keyword {  
color: #afafab !important;  
}  
.cm-keyword  /*advanced settings*/  
.cm-s-default .cm-keyword {    
color: var(--link-ink) !important;  
}   
/*set the user entered filter here codemirror.css*/  
.CodeMirror-lines {  
color: #f9f9fb !important;  
}  
/*Whitelist*/  
.cm.keyword.cm.comment {color: #f9f9fb !important} /*moz-extension-scheme*/
.span /*for user selected*/

.CodeMirror-activeline-background /*line 151*/ {background: #8ad !important }      /*****THIS IS A PLACEHOLDER COLOR CHOOSE SOMETHING NICER****/
#advancedSettings {  
color: #f9f9fa !important;}  

.CodeMirror {  
background: #15141a !important;  
color: #f9f9fb !important;  
}  
.CodeMirror-gutters {  
background-color: #15141a !important;  
border-right: 1px solid #32313c !important;  
}  
.CodeMirror-merge-gap {  
background: #15141a !important;  
border-left: 1px solid #32313c !important;  
border-right: 1px solid #32313c !important;    
}  

.permatoolbar .button.active /*line 33*/ {  
fill: #bb86fc !important;}  
.permatoolbar .button:hover /*line 36*/ {  
background-color: #45278d !important;  
}  
#pageSelector /*line 39 Adding*/ {background: #32313c !important; color: #f9f9fa !important;}  
#popupContainer/*line 447*/, .permatoolbar /*line 14*/, #filterExprPicker /*line 139*/{  
background: #15141a !important;  
}   
#netInspector #filterExprPicker {background-color: #32313c!important;} /*line 137*/  

#netInspector #filterInput > input /*line 124  Add in this*/ {background: #32313c !important; color: #f9f9fa !important}  

#netInspector #filterExprButton:hover, /*line 131*/  
#netInspector #filterExprPicker span[data-filtex]:hover /*line 185*/ { background-color: #45278d !important;}    

#modalOverlayContainer {  
background-color: #32313c !important;  
color: #f9f9fb !important;}  
#netFilteringDialog > div.panes > .dynamic .entry {background-color: #15141a !important; color: #f9f9fa !important; border-bottom: 1px solid #45278d !important;} /*line 737*/  
#netFilteringDialog > .panes > .details > div /*line 632*/ {background-color: #15141a !important; border-bottom: 1px solid #45278d !important}   

/* Line 581*/  
#netFilteringDialog[data-pane="details"] > .headers > [data-pane="details"],  
#netFilteringDialog[data-pane="dynamic"] > .headers > [data-pane="dynamic"],  
#netFilteringDialog[data-pane="static"] > .headers > [data-pane="static"]  
{
background-color: #ab71ff !important;  
color: #f9f9fa;  
border-bottom: 2px solid  #45278d !important;  
}
#netFilteringDialog > div.panes > .dynamic .entry {background-color: #32313c !important; color: #f9f9fa !important;}  


#loggerExportDialog .options span[data-i18n] /*line 906*/ {border: 1px solid #32313c !important}  

#loggerExportDialog .options span[data-i18n]:hover /*line 914*/,  
#loggerExportDialog .options span.on[data-i18n], #loggerExportDialog .options span.pushbutton:active /*line 917*/  
{
background-color: #45278d !important;
}
#netFilteringDialog,  
#netFilteringDialog > .panes > .details > div,
#netFilteringDialog > div.panes > .dynamic .row {background-color: #32313c !important; color: #f9f9fa !important}

/*line 506*/ #modalOverlay > div > div:nth-of-type(2):hover,   
#netFilteringDialog > .headers > .tools > span:hover /*line 606*/,  
#filterFinderDialog .filterFinderListEntry a.fa-icon:hover /*line*/,  
#netFilteringDialog > .panes > .details .exceptored .exceptor {  
    background-color: #45278d !important;  
}  
#netFilteringDialog > div.panes > div.static textarea /*line 832* ADD*/ {background-color: #42414d !important; color: #f9f9fa !important;}  
#ruleFilter input,  
input[type=number] {  
    -moz-appearance:none !important;  
    background-color: #42414d !important;  
    /*border: 1px solid!important;*/  
    /*border-color: var(--foregrond)!important;*/  
    color: #f9f9fa !important }  
#loggerSettingsDialog input /*line 954 Add*/ {background: #32313c !important; color: #f9f9fa !important}  

.cm-search-widget-input > input {background: #42414d !important; color: #f9f9fa !important}  

input[type="number"] /**line 41 ADD**/ {  
background-color: #42414d !important;  
color: #f9f9fa !important;  
}  

#cloudWidget {background:hsl(250, 13%, 9%) !important} /*line 1*/   

#ublock0-epicker section > div:first-child > textarea { background-color: #32313c !important; color: #f9f9fa !important;}  
#ublock0-epicker button /*line 34*/{  
background-color: #32313c var(--button-surface)!important;  
color: var(--button-ink)* #f9f9fa!important;  
 }  
#ublock0-epicker #resultsetCount /*line 92*/{background-color: #80808f !important; color: #f9f9fa !important;}    
#ublock0-epicker button:disabled /*line 45*/ {color: #e0e0e680 !important; background-color: #32313c !important;}    
#ublock0-epicker #create:not(:disabled) /*line 52*/ {background-color: #32313c !important;}  
#ublock0-epicker body.preview #preview /*line 59*/ {background-color: #ab71ff !important;}  
#ublock0-epicker aside /*line 174*/ {background-color: #15141a !important; border: #999 !important}  
#ublock0-epicker ul > li > span:nth-of-type(2) /*line 124*/ {color: #f9f9fa !important}  
#ublock0-epicker button:not(:disabled):hover /*line 49*/,  
#ublock0-epicker ul > li > ul > li:hover /*line 140*/ {background-color: #45278d !important}  
#ublock0-epicker body /*line 6*/{color: #f9f9fa !important}  
.cm-meta {color: #e22850 !important;}  
.cm-link {color: #8ad !important;}
